@import "tailwindcss";
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
@media print {
  body > *:not(#calendario-print) {
    display: none !important;
  }
  .print\:hidden {
    display: none !important;
  }
  #calendario-print {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: none;
    border-radius: 0;
    padding: 10px;
  }
}